@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  background-color: white;
  font-family: "Inter", sans-serif;
  margin: 0 0;
}

.toolbar-items {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 10px 12px;
}

.hamburger {
  margin-right: 32px;
}

.head-toolbar {
  width: 375px;
  height: 48px;
}

.toolbar-title {
  color: #28352f;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  margin-left: 24px;
}

.headline {
  background-image: url(assets/images/background.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-message {
  color: #172b4d;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-top: 58px;
}

.welcome-message span {
  color: #36b37e;
}

.description {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #172b4d;
  margin-right: 24px;
  margin-left: 24px;
}

.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
