@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  background-color: white;
  font-family: 'Inter', sans-serif;
  margin: 0 0;
}

.head-toolbar {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
}

.toolbar-title {
  color: #28352f;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.headline {
  background-image: url(assets/images/background.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
  margin-bottom: 64px;
}

.welcome-message {
  color: #172b4d;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-top: 58px;
}

.welcome-message span {
  color: #36b37e;
}

.description {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #172b4d;
}

.social-icons {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.recent-works {
  display: grid;
  text-align: center;
}

.work-title {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  margin-right: 22px;
  margin-left: 26px;
  margin-bottom: 24px;
  padding: 0;
}

.horizontal-line {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  margin-bottom: 62px;
  margin-top: 0;
}

.disabled-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card {
  width: 327px;
  height: 474px;
  border-radius: 8px;
  background-color: #ebf0ee;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  flex-direction: column-reverse;
  border: 1px solid #d0d9d4;
}

.project-sample {
  height: 222px;
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: white;
  border-radius: 8px 8px 0 0;
}

.project-title {
  font-weight: 600;
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 0;
  text-align: center;
  color: #3a4a42;
}

.project-lang-list {
  list-style: none;
  display: flex;
  padding: 0;
  flex-direction: row;
  column-gap: 8px;
}

.lang {
  font-size: 12px;
  font-weight: 600;
  padding: 8px 12px;
  background-color: #ebf0ee;
  border-radius: 4px;
  display: flex;
  color: #3a4a42;
}

.button {
  cursor: pointer;
  background: #36b37f;
  border-radius: 4px;
  padding: 12px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.button:focus {
  background-color: #008552;
}

.aboutme {
  background-image: url(assets/images/aboutme.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutme h2 {
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  margin-bottom: 0;
}

.aboutme a {
  margin-bottom: 64px;
}

.professional-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 352px;
  width: 327px;
  border-radius: 8px;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  justify-content: center;
  margin-bottom: 24px;
}

.professional-card-title {
  font-weight: 600;
  font-size: 24px;
  color: #344563;
}

.professional-card-list {
  display: flex;
  padding: 0;
  column-gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  row-gap: 8px;
}

.professional-list-item {
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  font-weight: 600;
  font-size: 12px;
  color: #36b373;
}

.contact-me {
  width: 375px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(assets/images/illustration-contact-form.svg) 100% 723.38px
    no-repeat;
}

.contact-description {
  width: 327px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 0 0 58px;
}

.contact-form {
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  outline: none;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  color: #6b778c;
  font-size: 15px;
  padding: 0 16px;
  margin-bottom: 24px;
}

.contact-message {
  outline: none;
  width: 100%;
  height: 114px;
  padding: 12px;
  margin-bottom: 24px;
  box-sizing: border-box;
  border: 1px solid #60c095;
  border-radius: 4px;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
  resize: none;
}

.contact-me .button {
  margin-bottom: 30px;
}

.my-mail {
  margin-bottom: 189px;
  font-size: 20px;
  color: #42526e;
}
