/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700:800&display=swap"); */

body {
  background-color: white;
  font-family: "Inter", sans-serif;
  margin: 0 0;
}

.head-toolbar {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
}

.navbar {
  display: flex;
}

.toolbar-title {
  color: #28352f;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.nav-list {
  display: none;
}

.mob-nav-list {
  display: none;
  list-style: none;
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  padding-top: 55px;
  padding-left: 28px;
  bottom: 0;
  background-color: white; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.mob-nav-list li {
  margin-bottom: 28px;
}

.nav-list a,
.mob-nav-list a {
  text-decoration: none;
  color: #3a4a42;
  font-size: 32px;
  font-weight: 600;
}

.close-button {
  display: none;
  z-index: 2;
}

.headline {
  background-image: url(assets/images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  margin-bottom: 64px;
}

.welcome-message {
  color: #172b4d;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

.welcome-message span {
  color: #36b37e;
}

.description {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  max-width: 800px;
  color: #172b4d;
}

.social-icons {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.recent-works {
  display: grid;
  text-align: center;
  margin-bottom: 68px;
  margin-left: auto;
  margin-right: auto;
}

.horizontal-line {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  margin-bottom: 62px;
  margin-top: 0;
}

.disabled-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  display: block;
}

.section-title {
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  margin-bottom: 0;
  margin-top: 0;
}

.recent-works .section-title {
  margin-bottom: 24px;
}

.card {
  width: 327px;
  height: 474px;
  border-radius: 8px;
  background-color: #ebf0ee;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  flex-direction: column-reverse;
  border: 1px solid #d0d9d4;
}

.project-sample {
  height: 222px;
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: white;
  border-radius: 8px 8px 0 0;
}

.project-title {
  font-weight: 600;
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 0;
  text-align: center;
  color: #3a4a42;
}

.project-lang-list {
  list-style: none;
  display: flex;
  padding: 0;
  flex-direction: row;
  column-gap: 8px;
}

.lang {
  font-size: 12px;
  font-weight: 600;
  padding: 8px 12px;
  background-color: #ebf0ee;
  border-radius: 4px;
  display: flex;
  color: #3a4a42;
}

.button {
  cursor: pointer;
  background: #36b37f;
  border-radius: 4px;
  padding: 12px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.button:focus {
  background-color: #008552;
}

.aboutme {
  background-image: url(assets/images/aboutme.svg);
  background-size: cover;
  margin: 0 auto;
}

.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content {
  display: grid;
}

.aboutme a {
  margin-bottom: 64px;
}

.professional-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 352px;
  width: 327px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  justify-content: center;
  margin-bottom: 24px;
}

.professional-card-title {
  font-weight: 600;
  font-size: 24px;
  color: #344563;
}

.professional-card-list {
  display: flex;
  padding: 0;
  column-gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  row-gap: 8px;
}

.professional-list-item {
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  font-weight: 600;
  font-size: 12px;
  color: #36b373;
}

.contact-me {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(assets/images/illustration-contact-form.svg) 100% 723.38px;
  background-repeat: no-repeat;
}

.contact-description {
  width: 327px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 58px;
}

.contact-form {
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  outline: none;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  color: #6b778c;
  font-size: 15px;
  padding: 0 16px;
  margin-bottom: 24px;
}

.contact-message {
  outline: none;
  width: 100%;
  height: 114px;
  padding: 12px;
  margin-bottom: 24px;
  box-sizing: border-box;
  border: 1px solid #60c095;
  border-radius: 4px;
  font-size: 15px;
  line-height: 24px;
  resize: none;
}

.contact-message::placeholder {
  color: #091e42;
  font-family: "Inter", sans-serif;
}

.contact-me .button {
  margin-bottom: 30px;
}

.my-mail {
  margin-bottom: 189px;
  font-size: 20px;
  color: #42526e;
}

footer {
  display: none;
}

.error-message {
background-color: red;
color: #fff;
font-size: 20px;
padding: 5px;
margin: 2px;
border-radius: 8px;
display: none;
animation: 2s showError;
}

@keyframes showError {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Styling desktop >= 768px version starts here */
@media only screen and (min-width: 768px) {
  .mobile-version {
    display: none !important;
  }

  .wrapper {
    background-image: url(assets/images/header-desktop-background.svg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 1000px;
  }

  .headline {
    background-image: none;
    display: flex;
  }

  .head-toolbar {
    height: 48px;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .nav-list {
    padding: 0;
    margin: 26px 0;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
  }

  .nav-item a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #344563;
  }

  .welcome-message {
    color: #172b4d;
    text-align: center;
    font-weight: 800;
    font-size: 48px;
    margin-top: 160px;
    margin-bottom: 24px;
  }

  .disabled-button {
    margin-top: 75px;
  }

  .recent-works {
    display: grid;
    justify-content: center;
    column-gap: 24px;
    margin-bottom: 192px;
    grid-template-columns: auto auto;
  }

  .horizontal-line {
    display: none;
  }

  .section-title {
    grid-column: 1 / 3;
    text-align: center;
  }

  .about-content {
    display: grid;
    justify-content: center;
    column-gap: 24px;
    margin: 0 auto;
    grid-template-columns: auto auto;
  }

  .aboutme {
    background-image:
      url("assets/images/aboutme-desktop.svg"),
      url("assets/images/about-me-2-desktop.svg");
    background-position-x: 95%, 1%;
    background-position-y: top, 20%;
    background-size: 100%, 15%;
    background-repeat: no-repeat;
  }

  .about-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .contact-wrapper {
    width: 100%;
    background-image:
      url("assets/images/contact-form1.svg"),
      url("assets/images/contact-form2.svg"),
      url("assets/images/contact-form3.svg");
    background-position-x: 20%, 100%, 0;
    background-position-y: 80%, bottom, bottom;
    background-repeat: no-repeat;
    padding-bottom: 262px;
  }

  .contact-me {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 800px;
    margin-top: 164px;
    column-gap: 24px;
  }

  .contact-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
  }

  .contact-form .button {
    align-self: flex-start;
    margin: 0;
  }

  .my-mail {
    display: none;
  }

  .contact-description {
    font-size: 30px;
    flex: 1;
    margin-bottom: 85px;
  }

  .contact-me ul {
    display: none;
  }

  footer {
    display: block;
  }

  footer hr {
    color: #dfe1e6;
    height: 1px;
  }
}

/* Styling desktop  >= 1000px version starts here */
@media only screen and (min-width: 1000px) {
  .recent-works {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .section-title {
    grid-column: 1 / 4;
    text-align: center;
  }

  .about-content {
    grid-template-columns: auto auto auto;
  }

  .contact-me {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin-top: 164px;
    column-gap: 24px;
  }

  .contact-form {
    display: flex;
    flex: 1;
    align-items: center;
  }

  .contact-description {
    font-size: 30px;
    flex: 1;
    margin-bottom: 85px;
  }
}
