body {
  background-color: #FFFFFF;
}

.toolbar-items{
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.hamburger{
  padding: 8px;
}
.logo-placeholder{
  align-items: center;
padding: 10px 12px;
}
.toolbar-title{
  text-decoration: none;
  color:  #28352F;
  text-align: center;
  align-items: center;
}